@model Category

<div class="card shadow mt-2 mb-2">
    <div class="card-body container">
        <h2 class="h4">New Category</h2>

        <form method="post">
            <div class="form-group row col-md-4">
                <input class="form-control"
                       asp-for="Title"
                       placeholder="Title" />
            </div>
            <div class="form-group row col-md-4">
                <input class="form-control"
                       asp-for="Slug"
                       placeholder="Slug" />
            </div>
            <div class="form-group">
                <textarea class="form-control"
                          rows="5"
                          asp-for="Content"
                          placeholder="Description">
                </textarea>
            </div>
            <div class="form-group row col-md-10">
                <button type="submit" ref="createButton" id="btnSave" class="btn btn-success btn-sm mt-2 mb-2 mr-2" value="save">
                    <i class="fa fa-check" aria-hidden="true"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>
